/*
vars
*/
:root {
    --carousel-transition-duration: 250ms;
    --carousel-transition-ease: ease-out;
    --carousel-bg-color-rgb: 0, 0, 0;
    --carousel-shadow-color-rgb: 128, 128, 128;
    --carousel-item-width: 11.5rem;
    --carousel-item-height: 17.5rem;
    --carousel-item-hover-effect: 1.075;
    --carousel-item-reflection-blur: 0.25rem;
    --carousel-item-empty-color-rgb: 255, 255, 255;
    --carousel-item-glow-color-rgb: 255, 255, 255;
    --carousel-item-glow-size: 5rem;
    --carousel-diameter: 50rem;
    --carousel-3d-perspective: 1000px;
    --carousel-3d-perspective-origin: 50% 20%;
    --carousel-control-button-width: 1.25rem;
    --carousel-control-button-height: 4rem;
    --carousel-control-color-rgb: 255, 255, 255;
    --carousel-animation-duration: 25s;
    --carousel-animation-play-state: running;
    --carousel-direction-animation-play-state: paused;
}

/*
global
*/
/**, *::before, *::after {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}*/

*:focus {
    outline: none;
}

a {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body {
   
    background-color: rgb(var(--carousel-bg-color-rgb));

}

/*
carousel
*/

@media only screen and (max-width: 400px) {
    

    .logo.img-fluid
    {

        margin-right: 50px;
    }
}




.carousel-title {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: white;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    padding: 5px 0;
    font-size: 1rem;
    font-weight: bold;
    pointer-events: none; /* Ensure the text doesn't interfere with clicking */
    z-index: 10; /* Ensure the title appears above other elements */
    transform: rotateY(359deg); /* Correct the mirroring */
}

.active {
    background-color: #666;
}



.footer {
    background: 
    linear-gradient(0deg, 
        rgba(6, 11, 46, 1) 0%, 
        rgba(5, 26, 134, 1) 50%, 
        rgba(6, 11, 46, 1) 100%),
    radial-gradient(circle at top, transparent, rgba(6, 11, 46, 0.5)), 
    radial-gradient(circle at bottom, transparent, rgba(6, 11, 46, 0.5)),
    radial-gradient(circle at left, transparent, rgba(6, 11, 46, 0.5)),
    radial-gradient(circle at right, transparent, rgba(6, 11, 46, 0.5));
background-size: cover;
background-blend-mode: overlay;
    color: white;
    padding: 40px 20px;
    width: 100%;
    margin-top: 15px;
}

.footer .container-fluid {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
}

.footer .left-div {
    display: flex;
    flex-direction: column;
    text-align: left;
    color: white;
    margin-bottom: 5px;
    justify-content: space-between;
    padding-left: 60px;
}

.footer .middle-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 5px;
}

.footer .right-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer .right-div img {
    max-width: 150px;
    height: auto;
}

.footer i, .footer a {
    color: white;
}

.footer i::before {
    margin-right: 10px;
}
.footer_shop {
    background: 
    linear-gradient(0deg, 
        rgba(6, 11, 46, 1) 0%, 
        rgba(185, 101, 5, 1) 50%, 
        rgba(6, 11, 46, 1) 100%),
    radial-gradient(circle at top, transparent, rgba(6, 11, 46, 0.5)), 
    radial-gradient(circle at bottom, transparent, rgba(6, 11, 46, 0.5)),
    radial-gradient(circle at left, transparent, rgba(6, 11, 46, 0.5)),
    radial-gradient(circle at right, transparent, rgba(6, 11, 46, 0.5));
background-size: cover;
background-blend-mode: overlay;
    color: white;
    padding: 40px 20px;
    width: 100%;
    margin-top: 25px;
}

.footer_shop  .container-fluid {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
}

.footer_shop .left-div {
    display: flex;
    flex-direction: column;
    text-align: left;
    color: white;
    margin-bottom: 5px;
    justify-content: space-between;
    padding-left: 60px;
}

.footer_shop .middle-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 5px;
}

.footer_shop .right-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer_shop .right-div img {
    max-width: 150px;
    height: auto;
}

.footer_shop i, .footer_shop a {
    color: white;
}

.footer_shop  i::before {
    margin-right: 10px;
}
.footer_kod {
    background: 
    linear-gradient(0deg, 
        rgba(6, 11, 46, 1) 0%, 
        rgba(21, 144, 68, 1) 50%, 
        rgba(6, 11, 46, 1) 100%),
    radial-gradient(circle at top, transparent, rgba(6, 11, 46, 0.5)), 
    radial-gradient(circle at bottom, transparent, rgba(6, 11, 46, 0.5)),
    radial-gradient(circle at left, transparent, rgba(6, 11, 46, 0.5)),
    radial-gradient(circle at right, transparent, rgba(6, 11, 46, 0.5));
background-blend-mode: overlay;
    color: white;
    padding: 40px 20px;
    width: 100%;
    margin-top: 25px;
}

.footer_kod  .container-fluid {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    margin-top: 25px;
}

.footer_kod .left-div {
    display: flex;
    flex-direction: column;
    text-align: left;
    color: white;
    margin-bottom: 5px;
    justify-content: space-between;
    padding-left: 60px;
}

.footer_kod .middle-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 5px;
}

.footer_kod .right-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer_kod .right-div img {
    max-width: 150px;
    height: auto;
}

.footer_kod i, .footer_kod a {
    color: white;
}

.footer_kod  i::before {
    margin-right: 10px;
}

.bi-envelope::before {
    content: "\f32f";
}

.bi-telephone::before {
    content: "\f5c1";
}

.logo {
    width: 150px;
    height: auto;
}

    .bg-light {
        --bs-bg-opacity: 1;
        background-color: rgb(248 249 250 / 0%) !important;
    }


    .navbar-brand img {
        height: 80px;
        width: auto;
    }


    .navbar-nav {
        margin: auto;
    }
    .navbar-scrolled {
        background-color: rgba(0, 0, 0, 0.8) !important; /* Adjust the color as needed */
        transition: background-color 0.3s;
    }

    .navbar-nav .nav-link {
        color: white !important;
    }

    @media (max-width: 767.98px) {/* Justera gränsen vid behov */
        .navbar {
            background-color: rgba(0, 0, 0, 0.8) !important; /* Samma färg som navbar-scrolled */
        }
    }

.navbar-icons img {


    width: 25px;
    height: 20px;
}
   
.container-fluid {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.video-background, .image-background {
    position: relative;
    width: 100%;
    height: 100vh; /* or any height you need */
    margin-bottom: 15px;
}
/* Background media styles */
.background-media {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1; /* Ensure the media is behind the text */
}

/* Background image styles */
.background-image {
    width: 100%;
    height: auto; /* Maintain aspect ratio */
    object-fit: cover;
}

/* General text overlay styles */
.text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    text-align: center;
    color: white;
}

/* Specific text overlay styles for robots section */
.text-overlay-robots h1,
.text-overlay-robots p {
    
    z-index: 1;
    text-align: center;
    color: white;
    width: 200px;
}

.text-overlay-robots h1 {
    font-size: 3rem;
    margin-top: 100px;
}

.text-overlay-robots p {
    font-size: 1rem;
}

/* Specific text overlay styles for about us section */
.text-overlay-about-us {
    position: absolute;
    top: 50%;
    left: 5%;
    right: 50%;
    transform: translateY(-50%);
    z-index: 1;
    text-align: left;
    color: white;
}

.text-overlay-about-us p {
  
    text-align: left;
    color: white;
    font-size: 1 rem;
}

.text-overlay-about-us h1 {
    font-size: 4rem;
    /* Additional styling for your text */
}

.text-overlay-drones {
    position: absolute;
    top: 50%;
    left: 5%;
    right: 50%;
    transform: translateY(-50%);
    z-index: 1;
    text-align: left;
    color: white;
}

.text-overlay-drones p {
  
    text-align: left;
    color: white;
    font-size: 1 rem;
}

.text-overlay-drones h1 {
    font-size: 4rem;
    /* Additional styling for your text */
}

/* Image background container styles */
.text-overlay-ai_background {
    position: absolute;
    top: 50%;
    left: 75%; /* Position on the right */
    transform: translate(-50%, -50%);
    text-align: right;
    color: white; /* Adjust as needed */
    padding: 20px;

}

/* Responsive typography for AI background section */
.text-overlay-ai_background h1 {
    font-size: 5vw; /* Responsive font size */
}

.text-overlay-ai_background p {
    font-size: 2vw; /* Responsive font size */
}

/* Media query to center the text on smaller screens */
@media (max-width: 768px) {
    .text-overlay-ai_background {
        left: 70%; /* Center horizontally */
        
    }
    .text-overlay-ai_background p {

        font-size: 7vw;
    }

    .text-overlay-ai_background h1 {
        font-size: 10vw; /* Responsive font size */
    }

    .text-overlay-about-us {
       
        right: 30%;
        transform: translateY(-50%);
        z-index: 1;
        text-align: left;
        color: white;
        margin-top: 20px;
    }
}

.carousel {
   
 
    justify-content: center;
}

.carousel-item-wrapper {
    list-style: none;
    padding: 0;
}

.header {
    text-align: center;
    margin-bottom: 20px; /* Space between header and carousel */
}


#shop-forms {

margin-top: 15px;
margin-bottom: 15px;
      
}

.navbar-light .navbar-toggler-icon {
    color: #fff;
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");

}
.navbar-light .navbar-toggler {
color: rgba(0, 0, 0, .5);
border-color: #fff;
}
.unique-carousel .carousel-caption h5 {
    display: block !important;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 0.5rem;
    margin-bottom: -25px;
    border-radius: 0.5rem;
}
.unique-carousel .carousel-caption p {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 0.5rem;
    border-radius: 0.5rem;
}
.unique-carousel {
    max-width: 60%;
    height: 100%;
    margin-left: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
   
}
.unique-carousel img {
    width: 100%;
    height: auto;
    max-height: 400px; /* Set max-height for the carousel images */
}
.text-content {
    padding: 2rem;
   

    height: 100%; /* Make text content take full height */
  
}
@media (max-width: 767.98px) {
    .text-content {
        display: none;

      
    }

    .unique-carousel {
        max-width: 100%;
        margin: 0;
        margin-top: 10px;
    }

}



.carousel-indicators {


position: relative !important; 
}


#blue_head {


    background: 
    linear-gradient(0deg, 
        rgba(6, 11, 46, 1) 0%, 
        rgba(5, 26, 134, 1) 50%, 
        rgba(6, 11, 46, 1) 100%),
    radial-gradient(circle at top, transparent, rgba(6, 11, 46, 0.5)), 
    radial-gradient(circle at bottom, transparent, rgba(6, 11, 46, 0.5)),
    radial-gradient(circle at left, transparent, rgba(6, 11, 46, 0.5)),
    radial-gradient(circle at right, transparent, rgba(6, 11, 46, 0.5));
background-size: cover;
background-blend-mode: overlay;
}

#green_head {

    background: 
    linear-gradient(0deg, 
        rgba(6, 11, 46, 1) 0%, 
        rgba(21, 144, 68, 1) 50%, 
        rgba(6, 11, 46, 1) 100%),
    radial-gradient(circle at top, transparent, rgba(6, 11, 46, 0.5)), 
    radial-gradient(circle at bottom, transparent, rgba(6, 11, 46, 0.5)),
    radial-gradient(circle at left, transparent, rgba(6, 11, 46, 0.5)),
    radial-gradient(circle at right, transparent, rgba(6, 11, 46, 0.5));
background-size: cover;
background-blend-mode: overlay;
}

#orange_head {

    background: 
    linear-gradient(0deg, 
        rgba(6, 11, 46, 1) 0%, 
        rgba(185, 101, 5, 1) 50%, 
        rgba(6, 11, 46, 1) 100%),
    radial-gradient(circle at top, transparent, rgba(6, 11, 46, 0.5)), 
    radial-gradient(circle at bottom, transparent, rgba(6, 11, 46, 0.5)),
    radial-gradient(circle at left, transparent, rgba(6, 11, 46, 0.5)),
    radial-gradient(circle at right, transparent, rgba(6, 11, 46, 0.5));
background-size: cover;
background-blend-mode: overlay;
}


#robot_section {


    background-color: #000000;
}


#ai_section {
    margin-top: 15px;
    margin-bottom: 15px;
}
#drone_section {

    margin-top: 15px;
}

